Source: utile-music
Section: gnome
Priority: optional
Maintainer: Aaser Abd-el Sabour <proman4713@gmail.com>
Build-Depends: debhelper-compat (= 13),
               meson,
               ninja-build,
               valac,
               libgtk-4-dev,
               libadwaita-1-dev,
               libgstreamer1.0-dev,
               libgstreamer-plugins-base1.0-dev,
               gettext
Homepage: https://github.com/Proman4713/Utile-Music

Package: utile-music
Architecture: any
Description: Utile Music is an elegant music player for Linux based on Gapless designed for Utile OS
Depends: ${misc:Depends}, ${shlibs:Depends}
